.card-artist {
  box-sizing: border-box;
  border-radius: 20px;
  margin: 5px;
  padding: 15px 15px;
  box-shadow: rgb(35, 35, 35) 4px 4px 20px;
  background-color: #73348c;
  color: #adf65f;
  max-width: 150px;

  img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    object-fit: cover;
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .not-hovered {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 32px;
  }
  h2 {
    margin-bottom: 0;
    width: 100%;
  }
}

.separator {
  margin: 5px 0;
  height: 3px;
  width: 100%;
  background-color: #adf65f;
}
