<div
  class="card-artist"
  (mouseenter)="toggleHover()"
  (mouseleave)="toggleHover()"
  [@inOutAnimation]
>
  <div class="card-header">
    <img [src]="artist.imageUrl" [alt]="artist.name" />
    <h2 [ngClass]="{ 'not-hovered': !isCardHovered }">
      {{ artist.name }}
    </h2>
  </div>
  <div *ngIf="isCardHovered">
    <div class="separator"></div>
    <div class="card-body">
      <div *ngFor="let genre of artist.genres">
        <div>{{ genre }}</div>
      </div>
    </div>
  </div>
</div>
