<div style="display: flex; justify-content: center; width: 100%">
  <div class="card-artist-container">
    <app-card-artist></app-card-artist>
    <app-card-artist></app-card-artist>
    <app-card-artist></app-card-artist>
    <app-card-artist></app-card-artist>
    <app-card-artist></app-card-artist>
    <app-card-artist></app-card-artist>
    <app-card-artist></app-card-artist>
    <app-card-artist></app-card-artist>
    <app-card-artist></app-card-artist>
    <app-card-artist></app-card-artist>
  </div>
</div>
