<div class="card-artist-container">
  <ngx-masonry [updateLayout]="cardArtistService.updateLayout">
    <div ngxMasonryItem class="masonry-item" *ngFor="let artist of listArtists">
      <app-card-artist [artist]="artist"></app-card-artist>
    </div>
  </ngx-masonry>
</div>

<!-- <div class="card-artist-container">
  <ngx-masonry
    [updateLayout]="cardArtistService.updateLayout"
    *ngFor="let sublist of splittedList"
  >
    <div ngxMasonryItem class="masonry-item" *ngFor="let artist of sublist">
      <app-card-artist [artist]="artist"></app-card-artist>
    </div>
  </ngx-masonry>
</div> -->
